<mat-card class="mat-card" appearance="outlined">
  <mat-toolbar>Detalhes do Curso</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="full-width">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Name" />
        <mat-error *ngIf="form.get('name')?.invalid">
          {{ getErrorMessage('name') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select an category</mat-label>
        <mat-select formControlName="category">
          <mat-option>None</mat-option>
          <mat-option value="front-end">Front-End</mat-option>
          <mat-option value="back-end">Back-End</mat-option>
        </mat-select>
         <mat-error *ngIf="form.get('category')?.invalid">
          Categoria é obrigatória.
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">
      Salvar
    </button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
